<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BloggHell - Hjem</title>
  </head>
  <body>
    <header>
      <h1>Velkommen til BloggHell</h1>
      <a href="/admin">Admin Login</a>
    </header>
    <main>
      <% posts.forEach(post => { %>
      <h2><a href="/post/<%= post.id %>"><%= post.title %></a></h2>
      <p><%= post.content %></p>
      <hr />
      <% }); %>
    </main>
  </body>
</html>
