body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header h1 {
  text-align: center;
  flex-grow: 2;
}

.admin-login {
  background-color: red;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

main {
  display: flex;
  margin-top: 60px;
  padding: 20px;
}

.bio {
  width: 10%;
  padding-right: 20px;
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
}

.blog-content {
  width: auto;
  padding-left: 20px;
  margin: 0 auto;
  max-width: 1000px;
}

.profile-image {
  margin-top: 25px;
  width: 60px;
  height: 60px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.blog-content article {
  border-bottom: 2px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.blog-content article:last-child {
  border-bottom: none;
}

.likes,
.comments {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-top: 10px;
}

.comment {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.post {
  text-align: center;
  margin-bottom: 20px;
}
