body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #b14a4a;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header h1 {
  text-align: center;
  flex-grow: 2;
}

.admin-login {
  background-color: rgb(175, 103, 103);
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

main {
  display: flex;
  margin-top: 60px;
  padding: 20px;
}

.bio {
  width: 25%;
  padding-right: 20px;
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
}

.blog-content {
  width: 75%;
  padding-left: 20px;
  margin: 0 auto;
  background-color: #c4aeae;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-image {
  margin-top: 35px;
  margin-left: 5px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.blog-content article {
  border-bottom: 2px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.blog-content article:last-child {
  border-bottom: none;
}

.likes,
.comments {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-top: 10px;
}

.comment {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.comment li {
  list-style-type: none;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.comment li:last-child {
  border-bottom: none;
}

.post {
  text-align: center;
  margin-bottom: 20px;
}

.comment-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.comment-text {
  margin: 0;
}

/* New styles for the login popup */
.login-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.login-popup span {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
}

.login-popup input[type="text"],
.login-popup input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.login-popup input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
